body {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.subcontainer1 button {
    background-color: rgb(204, 211, 213);
    border: none;
    color: black;
    float: right;
    margin-top: 20px;
    background-color: rgb(172, 186, 190);
    padding: 5px 12px;
    margin-right: 10px;
    border: 1px solid black;
    font-weight: bold;
}

.subcontainer1 button:hover {
    background-color: rgb(124, 132, 135);
}

.container1 {
    width: 100%;
    height: 80px;
}

.subcontainer1 {
    width: 1000px;
    height: 80px;
    margin: auto;
}

.subcontainer1 img {
    width: 150px;
    height: 70px;
}

.container2 {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 90, 117);
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 50px;
}

.subcontainer2 {
    width: 1000px;
    height: 50px;
    margin: auto;
}

.container3 {
    width: 100%;
    height: 600px;
}

.subcontainer3 {
    width: 300px;
    height: 600px;
    margin: auto;
}

.subcontainer3 table {
    width: 300px;
}

.login-heading {
    color: rgb(0, 90, 117);
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.login_btn {
    padding: 6px 18px;
    border: none;
    background-color: rgb(0, 90, 117);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.login_btn:hover {
    background-color: rgb(2, 60, 80);
}


/*CSS FOR left section*/

* {
    margin: 0;
    padding: 0;
}

.maincontainer {
    width: 1000px;
    margin: auto;
    height: 600px;
}

.innerconatiner {
    width: 1000px;
    margin: auto;
    height: 600px;
}

.left-section {
    width: 25%;
    height: 600px;
    float: left;
}

.left {
    height: 300px;
    float: left;
    border: 1px solid black;
    width: 225px;
}

.content1 h3 {
    text-decoration: none;
    padding-top: 10px;
    padding-left: 8px;
    color: rgb(0, 90, 117);
}

.content1 p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    font-weight: bold;
}

.content1 h3 a {
    text-decoration: none;
    border-bottom: none;
}

.content1 p a {
    text-decoration: none;
    border-bottom: none;
}

.content2 {
    font-size: 15px;
    margin: 2px;
}

.content2 .link1 {
    border: 1px solid rgb(77, 74, 74);
    text-align: center;
}

.content2 .s1 {
    margin-top: 0;
    border: 2px solid black;
}

.content2 .s2 {
    border: 2px solid black;
}

.content2 .s3 {
    margin-top: 6px;
    border: 2px solid black;
}

.search {
    background-color: rgb(0, 90, 117);
    float: left;
}

.right-section {
    height: 600px;
    width: 70%;
    height: 600px;
    float: left;
}

.right {
    height: 600px;
    width: 100%;
    height: 600px;
    float: left;
}

.heading {
    color: rgb(0, 90, 117);
    margin: 15px;
}

.heading h2 {
    font-weight: bold;
    font-size: 22px;
}

.addpage {
    border: 1px solid black;
}
.addpage p {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.addpage table {
    width: 96%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding:30px;
}
.addpage table tr td{
    border-bottom: 1px solid grey;
    padding: 6px;
}
.t1{
  text-align:right;
  width:30%;
}
.btns{
    padding: 5px;
    padding-left: 25%;
}
.btns input{
    background-color: rgb(0, 90, 117);
    color:white;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
}
.btns input:hover{
    background-color: rgb(8, 76, 97);
}

/*for pagesummary or display page */
.right p{
    padding-bottom:6px;
    font-size: 18px;
}
.link1{
    text-align: center;
    font-size: 15px;
    padding: 8px;
}
.sea{
    border: 1px solid grey;
    padding: 9px;
    font-size: 16px;
    font-weight: bold;
    background-color: antiquewhite;
}
.sea-table{
    border: 1px solid grey;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
}
.sea-table{
    font-size: 16px;
    font-weight: bold;
}
.sea-table button{
    background-color: rgb(0, 90, 117);
    color: aliceblue;
    border: none;
    padding: 4px ;
    margin-left: 10px;

}
.sea-table input{
    padding: 2px;
}


/*footer*/

   

.container4 {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 90, 117);
}